body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-search{
border-radius:10px;
margin:5px;
padding:3px;
}

.hotel{
width:200px;
padding:20px;
text-align:center;
}

.div-hotel{
text-align:center;
}

.hotel_tab{
width:500px;
}

.tx-hotel{
text-align:center;
}

.div-hotel{
text-align:center;
}